.flex-wrap {
  flex-wrap: wrap !important;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*@mixin transition($time) {
	-webkit-transition: all $time ease-out 0s;
	-moz-transition: all $time ease-out 0s;
	-ms-transition: all $time ease-out 0s;
	-o-transition: all $time ease-out 0s;
	transition: all $time ease-out 0s;
}*/
/*===========================
     05.OUR LOVE css 
===========================*/
.our_love_area {
  padding: 2em 0;
}

.love_wrapper {
  position: relative;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .love_wrapper {
    margin-top: 0;
  }
}
.love_wrapper::before {
  width: 1px;
  height: 100%;
  position: absolute;
  content: "";
  background-color: #d4af37;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .love_wrapper::before {
    display: none;
  }
}

.single_love .love_content {
  width: 45%;
}
@media (max-width: 767px) {
  .single_love .love_content {
    width: 100%;
    margin-top: 30px;
  }
}
.single_love .love_content .love_title {
  font-size: 30px;
  color: #d4af37;
}
.single_love .love_content p {
  margin-top: 30px;
  font-weight: 300;
}
.single_love .love_date {
  width: 10%;
  text-align: center;
}
@media (max-width: 767px) {
  .single_love .love_date {
    width: 100%;
    margin-top: 30px;
  }
}
.single_love .love_date p {
  width: 40px;
  position: relative;
  color: #d4af37;
  border: 1px solid #d4af37;
  border-radius: 50px;
  font-size: 14px;
  padding: 2px;
  position: relative;
  line-height: 35px;
  padding-bottom: 32px;
  padding-top: 62px;
  background-color: #fff;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .single_love .love_date p {
    width: auto;
    height: 40px;
    padding-left: 62px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.single_love .love_date p i {
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #d4af37;
  border-radius: 50%;
  color: #d4af37;
  position: absolute;
  top: -1px;
  left: -1px;
}
.single_love .love_image {
  width: 45%;
}
@media (max-width: 767px) {
  .single_love .love_image {
    width: 100%;
    margin-top: 30px;
  }
}
.single_love .love_image img {
  width: 100%;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_love .love_image img {
    height: 415px;
    object-fit: cover;
    object-position: center;
  }
}

/*===========================
     07.EVENT css 
===========================*/
/*.wedding-events{
	background: $brand-white;
	.ceremony-bg{
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		height: 400px;
	}
	.desc{
		padding: 2em;
		h3{
			font-size: 30px;
		}
		p{
			strong{
				font-size: 14px;
			}
		}
	}
}*/
.wedding-events {
  background: #fff;
  margin-top: 30px;
}
.wedding-events .event_image {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.wedding-events .event_image img {
  width: 100%;
  height: 400px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.wedding-events .desc {
  padding: 2em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(177, 177, 177, 0.35);
  -moz-box-shadow: 0px 3px 6px 0px rgba(177, 177, 177, 0.35);
  box-shadow: 0px 3px 6px 0px rgba(177, 177, 177, 0.35);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  /*& .date{
      font-size: 16px;
      color: $body-color;
  }*/
}
.wedding-events .desc h3 {
  font-size: 30px;
}
.wedding-events .desc h3 a {
  font-size: 30px;
  color: #5a5a5a;
  margin-top: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.wedding-events .desc h3 a:hover {
  color: #d4af37;
}
.wedding-events .desc p {
  margin-top: 15px;
}
.wedding-events .desc p strong {
  font-size: 14px;
}
.wedding-events .desc .more {
  margin-top: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.wedding-events .desc .more:hover {
  color: #d4af37;
}
.wedding-events:hover .event_image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.wedding-events:hover .event_content {
  -webkit-box-shadow: 0px 3px 16px 0px rgba(177, 177, 177, 0.35);
  -moz-box-shadow: 0px 3px 16px 0px rgba(177, 177, 177, 0.35);
  box-shadow: 0px 3px 16px 0px rgba(177, 177, 177, 0.35);
}

/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background: #fff;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
}
body.fh5co-offcanvas {
  overflow: hidden;
}

a {
  color: #d4af37;
  -webkit-transition: 0.5s, ease;
  -o-transition: 0.5s, ease;
  transition: 0.5s, ease;
}
a:hover {
  text-decoration: none;
  color: #d4af37;
}

p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 16px;
  color: #848484;
  font-family: "Open Sans", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #5a5a5a;
  font-family: "Montez", cursive;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.rochester-regular {
  font-family: "Rochester", cursive;
  font-weight: 400;
  font-style: normal;
}

.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.names-invitation {
  font-size: 64px;
  color: #e8b828;
  margin: 40px 0 0 0;
}

.text-invitation {
  margin: 30px 0;
}

img.ornament {
  width: 100%;
  padding-bottom: 20px;
}

.justify-content-center {
  display: flex;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

/*===== invitation start =====*/
.invitation {
  display: flex;
  justify-content: center;
}

.section-padding30 {
  padding-top: 195px;
  padding-bottom: 170px;
}

.contact-form .form-wrapper {
  background: #fff;
  padding: 125px 70px 115px 70px;
  box-shadow: 0px 0px 86px 0px rgba(0, 0, 0, 0.06);
  position: relative;
}

.contact-form .form-wrapper #contact-form {
  position: relative;
  z-index: 1;
}

.contact-form .form-wrapper .shape-inner-flower .shpe2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 839px;
}

/*@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.section-padding30 {
			/* padding-top:195px; */ /* padding-bottom:170px; * /
	}
}*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-padding30 {
    padding-top: 150px;
    padding-bottom: 110px;
  }
  .contact-form .form-wrapper {
    padding: 100px 82px 115px 82px;
  }
  .contact-form .form-wrapper .shape-inner-flower .shpe2 {
    height: 800px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding30 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contact-form .form-wrapper {
    padding: 100px 82px 115px 82px;
  }
  .contact-form .form-wrapper .shape-inner-flower .shpe2 {
    height: 800px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-padding30 {
    padding-top: 65px;
    padding-bottom: 100px;
  }
  .contact-form .form-wrapper {
    padding: 100px 34px 115px 36px;
  }
  .contact-form .form-wrapper .shape-inner-flower .shpe2 {
    height: 780px;
    width: 95%;
  }
}
@media (max-width: 575px) {
  .section-padding30 {
    padding-top: 65px;
    padding-bottom: 100px;
  }
  .contact-form .form-wrapper {
    padding: 100px 34px 115px 36px;
  }
  .contact-form .form-wrapper .shape-inner-flower .shpe2 {
    width: 90%;
    height: 778px;
  }
}
.contact-form .form-wrapper .shape-outer-flower .outer-top {
  position: absolute;
  top: -62px;
  left: -143px;
  z-index: -1;
  -webkit-transition: all 0.6s ease-out 0s;
  -moz-transition: all 0.6s ease-out 0s;
  -ms-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
}

.contact-form .form-wrapper .shape-outer-flower .outer-bottom {
  position: absolute;
  bottom: 2px;
  right: -133px;
  z-index: -1;
  -webkit-transition: all 0.6s ease-out 0s;
  -moz-transition: all 0.6s ease-out 0s;
  -ms-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
}

/*===== invitation end =====*/
/*===== All Section Title Style start =====*/
.section_title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.section_title .title {
  font-size: 45px;
  color: #d4af37;
  margin: 0 0 0 0;
}

@media (max-width: 767px) {
  .section_title .title {
    font-size: 34px;
  }
}
.section_title img {
  margin-top: 10px;
  margin-bottom: 0px !important;
}

.section_title p {
  font-size: 30px;
  line-height: 38px;
  color: #38424D;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .section_title p {
    font-size: 24px;
  }
}
.section_title .text {
  font-size: 16px;
  line-height: 26px;
  color: #747E88;
  margin-top: 30px;
}

/*===== All Section Title Style end =====*/
/*=====COMING SOON css start =====*/
.coming_soon_area {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 5;
  padding-top: 70px;
  padding-bottom: 70px;
}

.coming_soon_shape_1 {
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: -1;
}
.coming_soon_shape_1 img {
  width: 130px;
  opacity: 0.31;
}

.coming_soon_shape_2 {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: -1;
}
.coming_soon_shape_2 img {
  width: 130px;
  opacity: 0.31;
}

.coming_soon_count {
  display: flex;
  justify-content: space-between !important;
}
.coming_soon_count .single_count {
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: #d4af37;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .coming_soon_count .single_count {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .coming_soon_count .single_count {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 767px) {
  .coming_soon_count .single_count {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 767px) {
  .coming_soon_count .single_count {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.coming_soon_count .single_count::before {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(212, 175, 55, 0.2);
  top: 10px;
  left: 10px;
}
@media (max-width: 767px) {
  .coming_soon_count .single_count::before {
    top: 5px;
    left: 5px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .coming_soon_count .single_count::before {
    top: 10px;
    left: 10px;
  }
}
.coming_soon_count .single_count .count_content .count {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 45px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .coming_soon_count .single_count .count_content .count {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .coming_soon_count .single_count .count_content .count {
    font-size: 30px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .coming_soon_count .single_count .count_content .count {
    font-size: 46px;
    line-height: 50px;
  }
}
.coming_soon_count .single_count .count_content .times {
  font-size: 25px;
  color: #fff;
  line-height: 45px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .coming_soon_count .single_count .count_content .times {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .coming_soon_count .single_count .count_content .times {
    font-size: 12px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .coming_soon_count .single_count .count_content .times {
    font-size: 18px;
    line-height: 30px;
  }
}

/*=====COMING SOON css end =====*/
.wedding-date {
  display: flex;
  justify-content: center;
}

.wedding-date .date-ornament {
  width: 30px;
  height: 30px;
  transform: rotate(250deg);
  margin-right: 10px;
}

.date-ornament.right {
  transform: rotate(30deg);
  margin-left: 10px;
}

figure {
  margin-bottom: 2em;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #d4af37;
}

::-moz-selection {
  color: #fcfcfc;
  background: #d4af37;
}

::selection {
  color: #fcfcfc;
  background: #d4af37;
}

#fh5co-header {
  position: relative;
  margin-bottom: 0;
  z-index: 9999999;
}

.stuck {
  position: fixed !important;
  top: 0 !important;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.header-top {
  padding: 10px 0;
  background: #d4af37;
}
.header-top .fh5co-link a {
  margin-left: 10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
.header-top .fh5co-link a:first-child {
  margin-left: 0;
}
.header-top .fh5co-link a:hover {
  color: rgb(255, 255, 255) !important;
}
@media screen and (max-width: 768px) {
  .header-top .fh5co-link {
    text-align: center;
  }
}
.header-top .fh5co-social a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  margin-right: 15px;
  position: relative;
  -webkit-transition: 0.5s, ease-in-out;
  -o-transition: 0.5s, ease-in-out;
  transition: 0.5s, ease-in-out;
}
.header-top .fh5co-social a:last-child {
  margin-right: 0;
}
.header-top .fh5co-social a:hover, .header-top .fh5co-social a:focus, .header-top .fh5co-social a:active {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
}
.header-top .fh5co-social a:hover i, .header-top .fh5co-social a:focus i, .header-top .fh5co-social a:active i {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  .header-top .fh5co-social {
    text-align: center !important;
  }
}

.fh5co-cover,
.fh5co-hero {
  position: relative;
  height: 800px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-cover,
  .fh5co-hero {
    height: 700px;
  }
}

.fh5co-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.fh5co-cover {
  background-size: cover;
  position: relative;
  background-position: center !important;
}
@media screen and (max-width: 768px) {
  .fh5co-cover {
    height: inherit;
    padding: 3em 0;
  }
}
.fh5co-cover .display-t {
  display: table;
  height: 800px;
  width: 100%;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .display-t {
    height: 600px;
  }
}
.fh5co-cover .display-tc {
  display: table-cell;
  vertical-align: middle;
}
.fh5co-cover .display-tc h1 {
  color: #fff;
}
.fh5co-cover .display-tc h2 {
  color: #fff;
  font-size: 80px;
  margin-bottom: 30px;
  font-weight: 300 !important;
}
.fh5co-cover .display-tc h2 strong {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .display-tc h2 {
    font-size: 60px;
  }
}
.fh5co-cover .display-tc p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 7px;
}
.fh5co-cover .display-tc p span {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 5px 0px;
}

/* Superfish Override Menu */
.sf-menu {
  margin: 7px 0 0 0 !important;
}

.sf-menu {
  float: right;
}

.sf-menu ul {
  box-shadow: none;
  border: transparent;
  min-width: 12em;
  *width: 12em;
}

.sf-menu a {
  color: rgba(0, 0, 0, 0.5);
  padding: 0.75em 1em !important;
  font-weight: normal;
  border-left: none;
  border-top: none;
  border-top: none;
  text-decoration: none;
  zoom: 1;
  font-size: 16px;
  border-bottom: none !important;
}
.sf-menu a:hover, .sf-menu a:focus {
  color: #d4af37 !important;
}

.sf-menu li.active a:hover, .sf-menu li.active a:focus {
  color: #d4af37;
}

.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover {
  background: transparent;
}

.sf-menu ul li a,
.sf-menu ul ul li a {
  text-transform: none;
  padding: 0.2em 1em !important;
  letter-spacing: 1px;
  font-size: 14px !important;
}

.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
  color: #d4af37;
}

.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
  background: transparent;
}

.sf-menu ul li {
  background: transparent;
}

.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
}

.sf-arrows .sf-with-ul:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #ccc;
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: #ccc;
}

.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #ccc;
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: #ccc;
}

#fh5co-header-section {
  padding: 0;
  position: relative;
  left: 0;
  width: 100%;
  z-index: 1022;
  background: #fff;
}

.nav-header {
  position: relative;
  float: left;
  width: 100%;
}

#fh5co-logo {
  position: relative;
  z-index: 2;
  font-size: 30px;
  margin-top: 35px;
  font-weight: 700;
  float: left;
}
#fh5co-logo span {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  #fh5co-logo {
    width: 100%;
    float: none;
    text-align: center;
  }
}
#fh5co-logo a {
  color: #d4af37;
}
#fh5co-logo a:hover, #fh5co-logo a:focus {
  color: #d4af37 !important;
}

#fh5co-menu-wrap {
  position: relative;
  z-index: 2;
  display: block;
  float: right;
  margin-top: 15px;
}
#fh5co-menu-wrap .sf-menu a {
  padding: 1em 0.75em;
}

#fh5co-primary-menu > li > ul li.active > a {
  color: #d4af37 !important;
}
#fh5co-primary-menu > li > .sf-with-ul:after {
  border: none !important;
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 0px;
  top: 50%;
  font-size: 12px;
  margin-top: -7px;
  content: "\e922";
  color: rgba(0, 0, 0, 0.5);
}
#fh5co-primary-menu > li > ul li {
  position: relative;
}
#fh5co-primary-menu > li > ul li > .sf-with-ul:after {
  border: none !important;
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 10px;
  top: 20px;
  font-size: 12px;
  content: "\e924";
  color: rgba(0, 0, 0, 0.5);
}

#fh5co-primary-menu .fh5co-sub-menu {
  padding: 10px 7px 10px;
  background: #fff;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
#fh5co-primary-menu .fh5co-sub-menu > li > .fh5co-sub-menu {
  left: 100%;
}

#fh5co-primary-menu .fh5co-sub-menu:before {
  position: absolute;
  top: -9px;
  left: 20px;
  width: 0;
  height: 0;
  content: "";
}

#fh5co-primary-menu .fh5co-sub-menu:after {
  position: absolute;
  top: -8px;
  left: 21px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-bottom: 8px solid rgb(255, 255, 255);
  border-left: 8px solid transparent;
  content: "";
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
  top: 6px;
  left: 100%;
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
  top: 7px;
  right: 100%;
  border: none !important;
}

.site-header.has-image #primary-menu .sub-menu {
  border-color: #ebebeb;
  -webkit-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -ms-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
}
.site-header.has-image #primary-menu .sub-menu:before {
  display: none;
}

#fh5co-primary-menu .fh5co-sub-menu a {
  letter-spacing: 0;
  padding: 0 15px;
  font-size: 18px;
  line-height: 34px;
  color: #575757 !important;
  text-transform: none;
  background: none;
}
#fh5co-primary-menu .fh5co-sub-menu a:hover {
  color: #d4af37 !important;
}

#fh5co-couple,
#fh5co-countdown,
#fh5co-groom-bride,
#fh5co-blog-section,
#fh5co-started,
#fh5co-when-where,
#fh5co-guest,
#fh5co-gallery,
.fh5co-content-section {
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-couple,
  #fh5co-countdown,
  #fh5co-groom-bride,
  #fh5co-blog-section,
  #fh5co-started,
  #fh5co-when-where,
  #fh5co-guest,
  #fh5co-gallery,
  .fh5co-content-section {
    padding: 3em 0;
  }
}

.fh5co-section-gray {
  background: #F6FAF7;
}

.heading-section {
  padding-bottom: 1em;
}
.heading-section h2 {
  font-size: 50px;
  font-weight: 300;
  position: relative;
  color: #d4af37;
}
.heading-section p {
  font-size: 18px;
}

#fh5co-couple {
  padding: 3em 0 0 0;
}
#fh5co-couple img {
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-couple h3 {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-couple h3 {
    font-size: 35px;
  }
}
#fh5co-couple .amp-center {
  font-size: 60px;
  margin-top: 100%;
  color: #d4af37;
}
@media screen and (max-width: 768px) {
  #fh5co-couple .amp-center {
    font-size: 40px;
  }
}

#fh5co-countdown {
  background: #d4af37;
}
#fh5co-countdown .countdown {
  margin-bottom: 0;
  font-size: 80px;
  color: #fff;
}
#fh5co-countdown .countdown span {
  margin: 0 30px;
  display: inline-block;
  font-family: "Montez", cursive;
}
#fh5co-countdown .countdown small {
  display: block;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
}

.couple-wrap {
  width: 100%;
  float: left;
  background: #F6FAF7;
}

.couple-desc {
  padding: 3em;
}
@media screen and (max-width: 768px) {
  .couple-desc {
    padding: 1.5em;
  }
}
.couple-desc h3 {
  font-size: 40px;
}
.couple-desc .fh5co-social-icons a:first-child {
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  .couple-desc .fh5co-social-icons a i {
    font-size: 20px;
  }
}

/*.wedding-events{
	background: $brand-white;
	.ceremony-bg{
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		height: 400px;
	}
	.desc{
		padding: 2em;
		h3{
			font-size: 30px;
		}
		p{
			strong{
				font-size: 14px;
			}
		}
	}
}*/
#fh5co-started {
  position: relative;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
#fh5co-started .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
#fh5co-started .form-control {
  background: rgba(0, 0, 0, 0.2);
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-started .form-control::-webkit-input-placeholder {
  color: #fff;
}
#fh5co-started .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
#fh5co-started .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#fh5co-started .form-control:-ms-input-placeholder {
  color: #fff;
}
#fh5co-started .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}
#fh5co-started .btn-block {
  height: 54px;
  border: none !important;
  background: #d4af37;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}
#fh5co-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#fh5co-started .form-inline .form-group .form-control {
  width: 100%;
  padding: 27px 20px !important;
}
#fh5co-started .heading-section {
  margin-bottom: 30px;
}
#fh5co-started .heading-section h2 {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.9);
}
#fh5co-started .heading-section p {
  color: rgba(255, 255, 255, 0.7);
}

.groom-men img {
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.groom-men h3 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
}

.gallery {
  margin-bottom: 30px;
}
.gallery .gallery-img {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}
.gallery .gallery-img img {
  position: relative;
  max-width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.gallery .gallery-img:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.fh5co-blog {
  margin-bottom: 60px;
}
.fh5co-blog a img {
  width: 100%;
  /*&:hover{
  }*/
}
@media screen and (max-width: 768px) {
  .fh5co-blog {
    width: 100%;
  }
}
.fh5co-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  width: 100%;
  padding: 30px;
  float: right;
}
.fh5co-blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px;
}
.fh5co-blog .blog-text span.by {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 7px;
}
.fh5co-blog .blog-text span.posted_date {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 7px;
}
.fh5co-blog .blog-text span.comment a {
  color: rgba(0, 0, 0, 0.3);
}
.fh5co-blog .blog-text span.comment a i {
  color: #d4af37;
  padding-left: 4px;
}
.fh5co-blog .blog-text h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
}
.fh5co-blog .blog-text h3 a {
  color: rgba(0, 0, 0, 0.6);
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.fh5co-social-icons > a {
  padding: 4px 10px;
  color: #d4af37;
}
.fh5co-social-icons > a i {
  font-size: 26px;
}
.fh5co-social-icons > a:hover, .fh5co-social-icons > a:focus, .fh5co-social-icons > a:active {
  text-decoration: none;
  color: #5a5a5a;
}

#footer {
  background: #d4af37;
  padding: 60px 0 40px;
}
#footer p {
  color: white;
  font-size: 14px;
}
#footer p a {
  color: rgba(255, 255, 255, 0.5);
}
#footer p a:hover, #footer p a:active, #footer p a:focus {
  color: rgba(255, 255, 255, 0.9) !important;
}
#footer h2 {
  color: #fff;
  font-size: 60px;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #d4af37;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #d4af37;
  color: #fff !important;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.js .animate-box {
  opacity: 0;
}

#fh5co-wrapper {
  overflow-x: hidden;
  position: relative;
}

.fh5co-offcanvas {
  overflow: hidden;
}
.fh5co-offcanvas #fh5co-wrapper {
  overflow: hidden !important;
}

#fh5co-page {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-offcanvas #fh5co-page {
  -moz-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  transform: translateX(-240px);
}

@media screen and (max-width: 768px) {
  #fh5co-menu-wrap {
    display: none;
  }
}

#offcanvas-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #222;
  right: -240px;
  width: 240px;
  padding: 20px;
  overflow-y: scroll !important;
  display: none;
}
@media screen and (max-width: 768px) {
  #offcanvas-menu {
    display: block;
  }
}
#offcanvas-menu ul {
  padding: 0;
  margin: 0;
}
#offcanvas-menu ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#offcanvas-menu ul li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}
#offcanvas-menu ul li a:hover {
  color: #d4af37;
}
#offcanvas-menu ul li > .fh5co-sub-menu {
  margin-top: 9px;
  padding-left: 20px;
}
#offcanvas-menu ul li.active > a {
  color: #d4af37;
}
#offcanvas-menu ul .fh5co-sub-menu {
  display: block !important;
}

.fh5co-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #fff;
}
.fh5co-nav-toggle.dark.active i::before, .fh5co-nav-toggle.dark.active i::after {
  background: #fff;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #fff;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all 0.2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.fh5co-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all 0.2s ease-out;
}
.fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
    top: 0px;
    margin-top: 2em;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-top-padded-lg {
  padding-top: 7em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-lg {
    padding-top: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-top-padded-md {
  padding-top: 4em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-md {
    padding-top: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.row-top-padded-sm {
  padding-top: 2em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-sm {
    padding-top: 2em;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.padding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.lead {
  line-height: 1.8;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/hourglass.svg) center no-repeat #222222;
}